__pycache__/
*.py[cod]
*.pyo

venv/
env/
django/
Scripts/
Lib/


db.sqlite3


/static/
/staticfiles/

media/

*.log
*.pot
*.pyc
*.swp
*.tmp

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

.env
