<!DOCTYPE html>
<html>
<head>
    <title>تلوين نص تحذيري</title>
    <!-- CSS داخلي أو خارجي -->
    <style>
        /* تعريف صنف alert لتلوين النص باللون الأحمر */
        .alert {
            color: red; /* تلوين النص باللون الأحمر */
        }
    </style>
</head>
<body>

    <!-- إضافة class="alert" لتطبيق اللون الأحمر على هذه الفقرة -->
    <p class="alert">
        python is the best programming language in the world
    </p>
    
</body>
</html>

<span><a href="{% url  'about' %}">about</a></span>
<span><a href="{% url 'template' %}">template</a></span>